link(rel="stylesheet", href="/assets/beer-alerts.css", data-inline)

div(class="outerContainer")
  div(class="container")
    h2 Hi #{name}!

    h4 The following breweries have updates we thought you would be interested in:

    - var breweryNames = Object.keys(breweryUpdates)
    each name in breweryNames
      - var { website, emptyInventory, subscriptionUpdates, newBeers } = breweryUpdates[name]
      div
        a(class="brewery", href=website, target="_blank")= `${name} \u2197`
        div(class="breweryUpdates")
          if emptyInventory
            div They're not displaying any inventory! That might mean something's wrong but historically it means they're about to release a whale so keep your &#x1F440; on the site...
          else
            if (subscriptionUpdates.length > 0)
              div Updates relevant to your subscriptions:
                ul(class="subscriptionList")
                  each product in subscriptionUpdates
                    case product.status
                      when 'in' 
                        li=`${product.name} is `
                          span(class='available')='currently available'
                      when 'limited'
                        li=`Supplies of ${product.name} are `
                          span(class='lowStock')='running low'
                      when 'out'
                        li=`${product.name} recently `
                          span(class='unavailable')='sold out'
                      default
                        li=`${product.name} is `
                          span(class='unavailable')='not currently available'
            if (newBeers.length > 0)
              div We're seeing these beers for the first time, check them out!
                ul(class="subscriptionList")
                  each product in newBeers
                    case product.status
                      when 'in' 
                        li=`${product.name} is `
                          span(class='available')='currently available'
                      when 'limited'
                        li=`Supplies of ${product.name} are `
                          span(class='lowStock')='running low'
                      when 'out'
                        li=`${product.name} recently `
                          span(class='unavailable')='sold out'
                      default
                        li=`${product.name} is `
                          span(class='unavailable')='not currently available'
      div(class='billingWarning')= `Add your billing info to Beer Alerts and you'll start seeing "quick buy" links next to all available beers!`