link(rel="stylesheet", href="/assets/beer-alerts.css", data-inline)

div(class="outerContainer")
  div(class="container")
    h2(class="greeting")= `Hi ${name}!`

    h4= 'The following breweries have updates we thought you would be interested in:'

    - var breweryNames = Object.keys(breweryUpdates)
    each name in breweryNames
      - var { website, emptyInventory, subscriptionUpdates, newBeers } = breweryUpdates[name]
      div
        a(class="brewery", href=website, target="_blank")= `${name} \u2197`
        div(class="breweryUpdates")
          if emptyInventory
            div They're not displaying any inventory! That might mean something's wrong but historically it means they're about to release a whale so keep your &#x1F440; on the site...
          else
            if (subscriptionUpdates.length > 0)
              div Updates relevant to your subscriptions:
                ul(class="subscriptionList")
                  each product in subscriptionUpdates
                    case product.status
                      when 'in' 
                        li=`${product.name} is `
                          a(class='available', href=`https://www.beer-alerts.com/buy?productId=${product.productId}`, target="_blank")='currently available \u2197'
                      when 'limited'
                        li=`Supplies of ${product.name} are `
                          a(class='lowStock', href=`https://www.beer-alerts.com/buy?productId=${product.productId}`, target="_blank")='running low \u2197'
                      when 'out'
                        li=`${product.name} recently `
                          span(class='unavailable')='sold out'
                      default
                        li=`${product.name} is `
                          span(class='unavailable')='not currently available'
            if (newBeers.length > 0)
              div We're seeing these beers for the first time, check them out!
                ul(class="subscriptionList")
                  each product in newBeers
                    case product.status
                      when 'in' 
                        li=`${product.name} is `
                          a(class='available', href=`https://www.beer-alerts.com/buy?productId=${product.productId}`, target="_blank")='currently available \u2197'
                      when 'limited'
                        li=`Supplies of ${product.name} are `
                          a(class='lowStock', href=`https://www.beer-alerts.com/buy?productId=${product.productId}`, target="_blank")='running low \u2197'
                      when 'out'
                        li=`${product.name} recently `
                          span(class='unavailable')='sold out'
                      default
                        li=`${product.name} is `
                          span(class='unavailable')='not currently available'