.outerContainer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  margin: 0;
  background-color: black;
  color: #CCCCCC;
}

.container {
  margin: 0 auto;
  width: 70%;
  background-color: #333333;
  padding: 20px;
}

.greeting {
  font-size: xx-large;
  font-weight: bold;
}

.brewery {
  font-weight: bold;
  color: #999999;
}

.breweryUpdates {
  margin: 10px;
}

.subscriptionList {
  padding-left: 20px;
}

a:link {
  text-decoration: none;
  color: #CCCCCC;
}

a:visited {
  color: #CCCCCC;
}

.available {
  font-weight: bold;
  color: #1fad0c;
}

.lowStock {
  font-weight: bold;
  color: #968c05;
}

.unavailable {
  font-weight: bold;
  color: #a73030;
}

.billingWarning {
  font-weight: bold;
  color: #968c05;
}